{
  "openapi": "3.0.1",
  "info": {
    "title": "Vantage",
    "description": "Vantage API",
    "termsOfService": "https://www.vantage.sh/terms-of-use",
    "contact": {
      "name": "Vantage Support",
      "url": "https://www.vantage.sh",
      "email": "support@vantage.sh"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.vantage.sh/v2"
    }
  ],
  "security": [
    {
      "oauth2": [
        "read"
      ]
    }
  ],
  "tags": [
    {
      "name": "Workspaces",
      "description": "Operations about Workspaces"
    },
    {
      "name": "Folders",
      "description": "Operations about Folders"
    },
    {
      "name": "Filters",
      "description": "Operations about Filters"
    },
    {
      "name": "Costs",
      "description": "Operations about Costs"
    },
    {
      "name": "Segments",
      "description": "Operations about Segments"
    },
    {
      "name": "Dashboards",
      "description": "Operations about Dashboards"
    },
    {
      "name": "Teams",
      "description": "Operations about Teams"
    },
    {
      "name": "AccessGrants",
      "description": "Operations about AccessGrants"
    },
    {
      "name": "Notifications",
      "description": "Operations about Notifications"
    },
    {
      "name": "Users",
      "description": "Operations about Users"
    },
    {
      "name": "BusinessMetrics",
      "description": "Operations about BusinessMetrics"
    },
    {
      "name": "Prices",
      "description": "Operations about Prices"
    },
    {
      "name": "ResourceReports",
      "description": "Operations about ResourceReports"
    },
    {
      "name": "FinancialCommitmentReports",
      "description": "Operations about FinancialCommitmentReports"
    },
    {
      "name": "KubernetesEfficiencyReports",
      "description": "Operations about KubernetesEfficiencyReports"
    },
    {
      "name": "AnomalyAlerts",
      "description": "Operations about AnomalyAlerts"
    },
    {
      "name": "VirtualTags",
      "description": "Operations about VirtualTags"
    },
    {
      "name": "Ping",
      "description": "Operations about Pings"
    }
  ],
  "paths": {
    "/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "description": "Return all Workspaces that the current API token has access to.",
        "operationId": "getWorkspaces",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page of results to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The amount of results to return. The maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspaces"
                },
                "example": {
                  "links": {
                    "self": "https://api.vantage.com/v2/workspaces",
                    "first": "https://api.vantage.com/v2/workspaces?page=1",
                    "next": null,
                    "last": "https://api.vantage.com/v2/workspaces?page=1",
                    "prev": null
                  },
                  "workspaces": [
                    {
                      "token": "wrkspc_f936ced69bcbf8fa",
                      "name": "Senger and Sons"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/workspaces/{workspace_token}": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "description": "Return a specific Workspace.",
        "operationId": "getWorkspace",
        "parameters": [
          {
            "name": "workspace_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                },
                "example": {
                  "token": "wrkspc_be2a1b2c1ebfa3c9",
                  "name": "Crist-Simonis"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/folders": {
      "get": {
        "tags": [
          "Folders"
        ],
        "description": "Return all Folders for CostReports.",
        "operationId": "getFolders",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page of results to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The amount of results to return. The maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folders"
                },
                "example": {
                  "links": {
                    "self": "https://api.vantage.com/v2/folders",
                    "first": "https://api.vantage.com/v2/folders?page=1",
                    "next": null,
                    "last": "https://api.vantage.com/v2/folders?page=1",
                    "prev": null
                  },
                  "folders": [
                    {
                      "token": "fldr_baf37f32280f5444",
                      "title": "synergy",
                      "parent_folder_token": null,
                      "created_at": "2023-09-12T05:06:54Z",
                      "updated_at": "2023-09-12T05:06:54Z",
                      "workspace_token": "wrkspc_f583a08beb76f679"
                    },
                    {
                      "token": "fldr_625d4591e46f7dfa",
                      "title": "website",
                      "parent_folder_token": "fldr_baf37f32280f5444",
                      "created_at": "2023-09-12T05:06:54Z",
                      "updated_at": "2023-09-12T05:06:54Z",
                      "workspace_token": "wrkspc_f583a08beb76f679"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Folders"
        ],
        "description": "Create a Folder for CostReports.",
        "operationId": "createFolder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postFolders"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                },
                "example": {
                  "token": "fldr_4aabe6f482c2a9e4",
                  "title": "New Folder",
                  "parent_folder_token": "fldr_4d29cbecf2601266",
                  "created_at": "2023-09-12T05:06:52Z",
                  "updated_at": "2023-09-12T05:06:52Z",
                  "workspace_token": "wrkspc_510cc77828001f9b"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "Folders"
      }
    },
    "/folders/{folder_token}": {
      "get": {
        "tags": [
          "Folders"
        ],
        "description": "Return a specific Folder for CostReports.",
        "operationId": "getFolder",
        "parameters": [
          {
            "name": "folder_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                },
                "example": {
                  "token": "fldr_3653e0f460786b1e",
                  "title": "intermediate",
                  "parent_folder_token": "fldr_b6bf120a1d3a794b",
                  "created_at": "2023-09-12T05:07:36Z",
                  "updated_at": "2023-09-12T05:07:36Z",
                  "workspace_token": "wrkspc_a707105ff54966c3"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Folders"
        ],
        "description": "Update a Folder for CostReports.",
        "operationId": "updateFolder",
        "parameters": [
          {
            "name": "folder_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putFolders"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                },
                "example": {
                  "token": "fldr_68e18d8d7df0be96",
                  "title": "New Title",
                  "parent_folder_token": "fldr_9aa0c735a6b615c6",
                  "created_at": "2023-09-12T05:06:53Z",
                  "updated_at": "2023-09-12T05:06:53Z",
                  "workspace_token": "wrkspc_e65a48e5d9684439"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "Folders"
      },
      "delete": {
        "tags": [
          "Folders"
        ],
        "description": "Delete a Folder for CostReports.",
        "operationId": "deleteFolder",
        "parameters": [
          {
            "name": "folder_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/saved_filters": {
      "get": {
        "tags": [
          "Filters"
        ],
        "description": "Return all SavedFilters that can be applied to a CostReport.",
        "operationId": "getSavedFilters",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page of results to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The amount of results to return. The maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedFilters"
                },
                "example": {
                  "links": {
                    "self": "https://api.vantage.com/v2/saved_filters",
                    "first": "https://api.vantage.com/v2/saved_filters?page=1",
                    "next": null,
                    "last": "https://api.vantage.com/v2/saved_filters?page=1",
                    "prev": null
                  },
                  "saved_filters": [
                    {
                      "token": "svd_fltr_52a89bb6b1c84380",
                      "title": "White",
                      "cost_report_tokens": [
                        "rprt_fef8f7e70f993108"
                      ],
                      "filter": "(costs.provider = 'aws' AND costs.account_id = '74')",
                      "created_at": "2023-09-12T05:07:35Z",
                      "created_by": "usr_055cb925f37bfa75",
                      "workspace_token": "wrkspc_c3a582b964a67afd"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Filters"
        ],
        "description": "Create a SavedFilter for CostReports.",
        "operationId": "createSavedFilter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postSavedFilters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedFilter"
                },
                "example": {
                  "token": "svd_fltr_84a8a4e35a845f97",
                  "title": "New Saved Filter",
                  "cost_report_tokens": [],
                  "filter": "(costs.provider = 'datadog')",
                  "created_at": "2023-09-12T05:06:52Z",
                  "created_by": "usr_4011f2b8a607729d",
                  "workspace_token": "wrkspc_6f54abb1b2a5aefc"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "SavedFilters"
      }
    },
    "/saved_filters/{saved_filter_token}": {
      "get": {
        "tags": [
          "Filters"
        ],
        "description": "Return a specific SavedFilter.",
        "operationId": "getSavedFilter",
        "parameters": [
          {
            "name": "saved_filter_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedFilter"
                },
                "example": {
                  "token": "svd_fltr_7d37f2b3704d1c41",
                  "title": "Black",
                  "cost_report_tokens": [
                    "rprt_267f8c135c20bf99"
                  ],
                  "filter": "(costs.provider = 'aws' AND costs.account_id = '57')",
                  "created_at": "2023-09-12T05:07:36Z",
                  "created_by": "usr_86017037cec4a852",
                  "workspace_token": "wrkspc_7020b8708f0e6556"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Filters"
        ],
        "description": "Update a SavedFilter for CostReports.",
        "operationId": "updateSavedFilter",
        "parameters": [
          {
            "name": "saved_filter_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putSavedFilters"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedFilter"
                },
                "example": {
                  "token": "svd_fltr_92c840f4c76c76b3",
                  "title": "Updated Saved Filter",
                  "cost_report_tokens": [],
                  "filter": "(costs.provider = 'azure')",
                  "created_at": "2023-09-12T05:07:35Z",
                  "created_by": "usr_fcd9ff9f8aa6bd1f",
                  "workspace_token": "wrkspc_49c6865bb1f6356f"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "SavedFilters"
      },
      "delete": {
        "tags": [
          "Filters"
        ],
        "description": "Delete a SavedFilter for CostReports.",
        "operationId": "deleteSavedFilter",
        "parameters": [
          {
            "name": "saved_filter_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedFilter"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/cost_reports": {
      "get": {
        "tags": [
          "Costs"
        ],
        "description": "Return all CostReports.",
        "operationId": "getCostReports",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page of results to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The amount of results to return. The maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostReports"
                },
                "example": {
                  "links": {
                    "self": "https://api.vantage.com/v2/cost_reports",
                    "first": "https://api.vantage.com/v2/cost_reports?page=1",
                    "next": null,
                    "last": "https://api.vantage.com/v2/cost_reports?page=1",
                    "prev": null
                  },
                  "cost_reports": [
                    {
                      "token": "rprt_e97ef22efaa6da12",
                      "title": "Untitled",
                      "folder_token": null,
                      "saved_filter_tokens": [
                        "svd_fltr_cc4a422cf86f9e26"
                      ],
                      "business_metric_tokens_with_metadata": [],
                      "filter": null,
                      "groupings": "provider,service",
                      "settings": {
                        "include_credits": false,
                        "include_refunds": false,
                        "include_discounts": true,
                        "include_tax": true,
                        "amortize": true,
                        "unallocated": false
                      },
                      "created_at": "2024-03-19T15:22:54Z",
                      "workspace_token": "wrkspc_3dc89ff43657f255"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Costs"
        ],
        "description": "Create a CostReport.",
        "operationId": "createCostReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCostReports"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostReport"
                },
                "example": {
                  "token": "rprt_362b04093c087475",
                  "title": "New Cost Report",
                  "folder_token": "fldr_819fe3807f88ff90",
                  "saved_filter_tokens": [
                    "svd_fltr_a50b002184902819"
                  ],
                  "business_metric_tokens_with_metadata": [
                    {
                      "business_metric_token": "bsnss_mtrc_bc0689f1b54094b1",
                      "unit_scale": "per_thousand"
                    }
                  ],
                  "filter": "costs.provider = 'aws' AND costs.service = 'Amazon Simple Storage Service'",
                  "groupings": "provider,service",
                  "settings": {
                    "include_credits": false,
                    "include_refunds": false,
                    "include_discounts": true,
                    "include_tax": true,
                    "amortize": true,
                    "unallocated": false
                  },
                  "created_at": "2024-03-19T15:22:51Z",
                  "workspace_token": "wrkspc_d50edff4c3ae23b2"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "CostReports"
      }
    },
    "/cost_reports/{cost_report_token}": {
      "get": {
        "tags": [
          "Costs"
        ],
        "description": "Return a CostReport.",
        "operationId": "getCostReport",
        "parameters": [
          {
            "name": "cost_report_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostReport"
                },
                "example": {
                  "token": "rprt_16a4d01d67a50631",
                  "title": "Segment Report",
                  "folder_token": "fldr_fa3d9420651c11d7",
                  "business_metric_tokens_with_metadata": [],
                  "filter": null,
                  "groupings": null,
                  "settings": {
                    "include_credits": false,
                    "include_refunds": false,
                    "include_discounts": true,
                    "include_tax": true,
                    "amortize": true,
                    "unallocated": false
                  },
                  "created_at": "2024-03-19T15:22:54Z",
                  "workspace_token": "wrkspc_6a917500aba6bca8"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Costs"
        ],
        "description": "Update a CostReport.",
        "operationId": "updateCostReport",
        "parameters": [
          {
            "name": "cost_report_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putCostReports"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostReport"
                },
                "example": {
                  "token": "rprt_77fec1422cfc25df",
                  "title": "Updated Cost Report",
                  "folder_token": "fldr_54b65b6cb9af21d0",
                  "saved_filter_tokens": [
                    "svd_fltr_33736ce7e17d7803"
                  ],
                  "business_metric_tokens_with_metadata": [
                    {
                      "business_metric_token": "bsnss_mtrc_58c57f66d35a1ad7",
                      "unit_scale": "per_thousand"
                    }
                  ],
                  "filter": "costs.provider = 'azure'",
                  "groupings": "service,account_id",
                  "settings": {
                    "include_credits": false,
                    "include_refunds": false,
                    "include_discounts": true,
                    "include_tax": true,
                    "amortize": true,
                    "unallocated": false
                  },
                  "created_at": "2024-03-19T15:22:52Z",
                  "workspace_token": "wrkspc_ca0b4a774e8fa57c"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "CostReports"
      },
      "delete": {
        "tags": [
          "Costs"
        ],
        "description": "Delete a CostReport.",
        "operationId": "deleteCostReport",
        "parameters": [
          {
            "name": "cost_report_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CostReport"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/segments": {
      "get": {
        "tags": [
          "Segments"
        ],
        "description": "Return all Segments.",
        "operationId": "getSegments",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page of results to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The amount of results to return. The maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segments"
                },
                "example": {
                  "links": {
                    "self": "https://api.vantage.com/v2/segments",
                    "first": "https://api.vantage.com/v2/segments?page=1",
                    "next": null,
                    "last": "https://api.vantage.com/v2/segments?page=1",
                    "prev": null
                  },
                  "segments": [
                    {
                      "token": "fltr_sgmt_0db07f2863f779cc",
                      "title": "installation",
                      "parent_segment_token": null,
                      "description": "Multi-lateral attitude-oriented process improvement",
                      "track_unallocated": false,
                      "report_settings": {
                        "include_credits": false,
                        "include_refunds": false,
                        "include_discounts": true,
                        "include_tax": true,
                        "amortize": true
                      },
                      "priority": 100,
                      "filter": "(costs.provider = 'aws')",
                      "created_at": "2024-02-02T01:02:07Z",
                      "workspace_token": "wrkspc_7036b752bf43a658"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Segments"
        ],
        "description": "Create a Segment.",
        "operationId": "createSegment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postSegments"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                },
                "example": {
                  "token": "fltr_sgmt_1e47944f3821d5c3",
                  "title": "New Segment",
                  "parent_segment_token": "fltr_sgmt_ac17f90b94f8d00f",
                  "description": "I'm a Segment.",
                  "track_unallocated": false,
                  "priority": 100,
                  "filter": "(costs.provider = 'aws' AND costs.service = 'Amazon Simple Storage Service')",
                  "created_at": "2024-02-02T01:02:08Z",
                  "workspace_token": "wrkspc_d5d4814d5e42522c"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "Segments"
      }
    },
    "/segments/{segment_token}": {
      "get": {
        "tags": [
          "Segments"
        ],
        "description": "Return a Segment.",
        "operationId": "getSegment",
        "parameters": [
          {
            "name": "segment_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                },
                "example": {
                  "token": "fltr_sgmt_d1de6bdb3133d61e",
                  "title": "benchmark",
                  "parent_segment_token": null,
                  "description": "Synergized bandwidth-monitored help-desk",
                  "track_unallocated": false,
                  "report_settings": {
                    "include_credits": false,
                    "include_refunds": false,
                    "include_discounts": true,
                    "include_tax": true,
                    "amortize": true
                  },
                  "priority": 100,
                  "filter": "(costs.provider = 'aws')",
                  "created_at": "2024-02-02T01:02:09Z",
                  "workspace_token": "wrkspc_5c9b1211804105ff"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Segments"
        ],
        "description": "Update a Segment.",
        "operationId": "updateSegment",
        "parameters": [
          {
            "name": "segment_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putSegments"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                },
                "example": {
                  "token": "fltr_sgmt_99969c652d4df258",
                  "title": "Updated Segment",
                  "parent_segment_token": "fltr_sgmt_d8d4da2ef1751c13",
                  "description": "Ameliorated disintermediate challenge",
                  "track_unallocated": false,
                  "priority": 42,
                  "filter": "(costs.provider = 'azure')",
                  "created_at": "2024-02-02T01:05:01Z",
                  "workspace_token": "wrkspc_c144e5f763a5b05e"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "Segments"
      },
      "delete": {
        "tags": [
          "Segments"
        ],
        "description": "Delete a Segment.",
        "operationId": "deleteSegment",
        "parameters": [
          {
            "name": "segment_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Segment"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/dashboards": {
      "get": {
        "tags": [
          "Dashboards",
          "Costs"
        ],
        "description": "Return all Dashboards.",
        "operationId": "getDashboards",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page of results to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The amount of results to return. The maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboards"
                },
                "example": {
                  "links": {
                    "self": "https://api.vantage.com/v2/dashboards",
                    "first": "https://api.vantage.com/v2/dashboards?page=1",
                    "next": null,
                    "last": "https://api.vantage.com/v2/dashboards?page=1",
                    "prev": null
                  },
                  "dashboards": [
                    {
                      "token": "dshbrd_0e00316c1b6ccdf5",
                      "title": "O Jerusalem!",
                      "widget_tokens": [
                        "rprt_63e2ca172354d16a"
                      ],
                      "saved_filter_tokens": [
                        "svd_fltr_447e67636b3c789a"
                      ],
                      "date_bin": null,
                      "date_interval": null,
                      "start_date": null,
                      "end_date": null,
                      "created_at": "2024-03-04T18:49:33Z",
                      "updated_at": "2024-03-04T18:49:33Z",
                      "workspace_token": "wrkspc_d42986a4825b18c7"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Dashboards",
          "Costs"
        ],
        "description": "Create a Dashboard.",
        "operationId": "createDashboard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postDashboards"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                },
                "example": {
                  "token": "dshbrd_40d2a85e60872ee4",
                  "title": "New Dashboard",
                  "widget_tokens": [
                    "rprt_d1262358f4d2de03"
                  ],
                  "saved_filter_tokens": [
                    "svd_fltr_03bae07fb40ef1e0"
                  ],
                  "date_bin": "week",
                  "date_interval": "this_month",
                  "start_date": "2023-08-01",
                  "end_date": "2023-08-31",
                  "created_at": "2023-08-15T00:00:00Z",
                  "updated_at": "2023-08-15T00:00:00Z",
                  "workspace_token": "wrkspc_7c586d05929f60b4"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "Dashboards"
      }
    },
    "/dashboards/{dashboard_token}": {
      "get": {
        "tags": [
          "Dashboards",
          "Costs"
        ],
        "description": "Return a specific Dashboard.",
        "operationId": "getDashboard",
        "parameters": [
          {
            "name": "dashboard_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                },
                "example": {
                  "links": {
                    "self": "https://api.vantage.com/v2/dashboards",
                    "first": "https://api.vantage.com/v2/dashboards?page=1",
                    "next": null,
                    "last": "https://api.vantage.com/v2/dashboards?page=1",
                    "prev": null
                  },
                  "dashboards": [
                    {
                      "token": "dshbrd_77736ea6e502a481",
                      "title": "The Road Less Traveled",
                      "widget_tokens": [
                        "rprt_7d955d7fbe334706"
                      ],
                      "saved_filter_tokens": [
                        "svd_fltr_cd8f90c99b33dfa6"
                      ],
                      "date_bin": null,
                      "date_interval": null,
                      "start_date": null,
                      "end_date": null,
                      "created_at": "2024-03-04T18:49:33Z",
                      "updated_at": "2024-03-04T18:49:33Z",
                      "workspace_token": "wrkspc_863089db412905d9"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Dashboards",
          "Costs"
        ],
        "description": "Update a Dashboard.",
        "operationId": "updateDashboard",
        "parameters": [
          {
            "name": "dashboard_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putDashboards"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                },
                "example": {
                  "token": "dshbrd_43f0df22a2b28fc1",
                  "title": "Updated Dashboard",
                  "widget_tokens": [
                    "rprt_1f78a31ae74c183f"
                  ],
                  "saved_filter_tokens": [
                    "svd_fltr_c90a915a9b8c4128"
                  ],
                  "date_bin": "week",
                  "date_interval": "this_month",
                  "start_date": "2023-08-01",
                  "end_date": "2023-08-31",
                  "created_at": "2024-03-04T18:49:32Z",
                  "updated_at": "2023-08-15T00:00:00Z",
                  "workspace_token": "wrkspc_1f7d72cc9302b876"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "Dashboards"
      },
      "delete": {
        "tags": [
          "Dashboards",
          "Costs"
        ],
        "description": "Delete a Dashboard.",
        "operationId": "deleteDashboard",
        "parameters": [
          {
            "name": "dashboard_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/costs": {
      "get": {
        "tags": [
          "Costs"
        ],
        "description": "Return all Costs for a CostReport.",
        "operationId": "getCosts",
        "parameters": [
          {
            "name": "cost_report_token",
            "in": "query",
            "description": "The CostReport token.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "First date you would like to filter costs from. ISO 8601 formatted.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Last date you would like to filter costs to. ISO 8601 formatted.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupings",
            "in": "query",
            "description": "Group the results by specific field(s). Defaults to provider, service, account_id. Valid groupings: account_id, billing_account_id, charge_type, cost_category, cost_subcategory, provider, region, resource_id, service, tagged, tag:<tag_value>. If providing multiple groupings, join as comma separated values: groupings=provider,service,region",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Whether to order costs by date in an ascending or descending manner.",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The amount of results to return. The maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Costs"
                },
                "example": {
                  "links": {
                    "self": "https://api.vantage.com/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677",
                    "first": "https://api.vantage.com/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677&page=1",
                    "next": null,
                    "last": "https://api.vantage.com/v2/costs?cost_report_token=rprt_ea7dbb4f5783d677&page=1",
                    "prev": null
                  },
                  "total_cost": {
                    "amount": "500.0",
                    "currency": "USD"
                  },
                  "costs": [
                    {
                      "accrued_at": "2023-06-05",
                      "amount": "100.0",
                      "currency": "USD",
                      "provider": "aws",
                      "account_id": "mock_56789",
                      "service": "AmazonSNS"
                    },
                    {
                      "accrued_at": "2023-06-04",
                      "amount": "100.0",
                      "currency": "USD",
                      "provider": "aws",
                      "account_id": "mock_56789",
                      "service": "AmazonSNS"
                    },
                    {
                      "accrued_at": "2023-06-03",
                      "amount": "100.0",
                      "currency": "USD",
                      "provider": "aws",
                      "account_id": "mock_56789",
                      "service": "AmazonSNS"
                    },
                    {
                      "accrued_at": "2023-06-02",
                      "amount": "100.0",
                      "currency": "USD",
                      "provider": "aws",
                      "account_id": "mock_56789",
                      "service": "AmazonSNS"
                    },
                    {
                      "accrued_at": "2023-06-01",
                      "amount": "100.0",
                      "currency": "USD",
                      "provider": "aws",
                      "account_id": "mock_56789",
                      "service": "AmazonSNS"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "description": "Return all Teams that the current API token has access to.",
        "operationId": "getTeams",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page of results to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The amount of results to return. The maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Teams"
                },
                "example": {
                  "links": {
                    "self": "https://api.vantage.com/v2/teams",
                    "first": "https://api.vantage.com/v2/teams?page=1",
                    "next": null,
                    "last": "https://api.vantage.com/v2/teams?page=1",
                    "prev": null
                  },
                  "teams": [
                    {
                      "token": "team_2d4733920ec4385e",
                      "name": "New Mexico people",
                      "description": "Consequuntur ratione.",
                      "workspace_tokens": [
                        "wrkspc_08026aa5fb4c90f8"
                      ],
                      "user_tokens": [
                        "usr_c59398553e838116"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "description": "Create a new Team.",
        "operationId": "createTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postTeams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                },
                "example": {
                  "token": "team_8467157535a30221",
                  "name": "New Team",
                  "description": "New Team Description",
                  "workspace_tokens": [
                    "wrkspc_52b6e5e663b4cde1"
                  ],
                  "user_tokens": [
                    "usr_a00e614b5843c234"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "Teams"
      }
    },
    "/teams/{team_token}": {
      "get": {
        "tags": [
          "Teams"
        ],
        "description": "Return a specific Team.",
        "operationId": "getTeam",
        "parameters": [
          {
            "name": "team_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                },
                "example": {
                  "token": "team_081e09bbb812d369",
                  "name": "Missouri cats",
                  "description": "Voluptas et.",
                  "workspace_tokens": [
                    "wrkspc_ddc003a2f0171bf8"
                  ],
                  "user_tokens": [
                    "usr_7c309915e847cfc6"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Teams"
        ],
        "description": "Update a Team.",
        "operationId": "updateTeam",
        "parameters": [
          {
            "name": "team_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putTeams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                },
                "example": {
                  "token": "team_d617e73dcc6b57c5",
                  "name": "Updated Team",
                  "description": "Updated Team Description",
                  "workspace_tokens": [
                    "wrkspc_efc4284a56772481"
                  ],
                  "user_tokens": [
                    "usr_d268561e520c7aac"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "Teams"
      },
      "delete": {
        "tags": [
          "Teams"
        ],
        "description": "Delete a Team.",
        "operationId": "deleteTeam",
        "parameters": [
          {
            "name": "team_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/access_grants": {
      "get": {
        "tags": [
          "AccessGrants"
        ],
        "description": "Return all Access Grants that the current API token has access to.",
        "operationId": "getAccessGrants",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page of results to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The amount of results to return. The maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessGrants"
                },
                "example": {
                  "links": {
                    "self": "https://api.vantage.com/v2/access_grants",
                    "first": "https://api.vantage.com/v2/access_grants?page=1",
                    "next": null,
                    "last": "https://api.vantage.com/v2/access_grants?page=1",
                    "prev": null
                  },
                  "access_grants": [
                    {
                      "token": "rsrc_accss_grnt_c40f15062b6d5c37",
                      "resource_token": "rprt_5a269d316483b01c",
                      "access": "denied",
                      "team_token": "team_fd5c524ba104712b",
                      "created_at": "2024-01-18T17:39:37Z",
                      "created_by": "usr_eb8ce6bdc1fa31d5"
                    },
                    {
                      "token": "rsrc_accss_grnt_9723e984e93d8907",
                      "resource_token": "dshbrd_a08561ec24875ac9",
                      "access": "allowed",
                      "team_token": "team_fd5c524ba104712b",
                      "created_at": "2024-01-18T17:39:37Z",
                      "created_by": "usr_eb8ce6bdc1fa31d5"
                    },
                    {
                      "token": "rsrc_accss_grnt_eee5c4fd777d4dc8",
                      "resource_token": "fldr_9d4ad1a769131c58",
                      "access": "allowed",
                      "team_token": "team_fd5c524ba104712b",
                      "created_at": "2024-01-18T17:39:38Z",
                      "created_by": "usr_eb8ce6bdc1fa31d5"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "AccessGrants"
        ],
        "description": "Create an Access Grant.",
        "operationId": "createAccessGrant",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postAccessGrants"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessGrant"
                },
                "example": {
                  "token": "rsrc_accss_grnt_9f8aeb3cedda3831",
                  "resource_token": "rprt_3b935d26cba36fb0",
                  "access": "denied",
                  "team_token": "team_26865e16e46028ae",
                  "created_at": "2024-01-18T17:39:37Z",
                  "created_by": "usr_2fc38883da3726b9"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "406": {
            "description": "NotAcceptable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "AccessGrants"
      }
    },
    "/access_grants/{access_grant_token}": {
      "get": {
        "tags": [
          "AccessGrants"
        ],
        "description": "Return a specific Access Grant.",
        "operationId": "getAccessGrant",
        "parameters": [
          {
            "name": "access_grant_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessGrant"
                },
                "example": {
                  "token": "rsrc_accss_grnt_07ed83a5069b91c4",
                  "resource_token": "rprt_b8df14aa8a4ad5c7",
                  "access": "denied",
                  "team_token": "team_14bd13a8bccb8406",
                  "created_at": "2024-01-18T17:39:36Z",
                  "created_by": "usr_0e1cb254743b26cb"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "AccessGrants"
        ],
        "description": "Update an AccessGrant.",
        "operationId": "updateAccessGrant",
        "parameters": [
          {
            "name": "access_grant_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putAccessGrants"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessGrant"
                },
                "example": {
                  "token": "rsrc_accss_grnt_eea11f0d35318b0d",
                  "resource_token": "rprt_e84d7760ab2dd7dc",
                  "access": "allowed",
                  "team_token": "team_25fc4aa890869602",
                  "created_at": "2024-01-18T17:39:36Z",
                  "created_by": "usr_57ed2fa2a7b30166"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "AccessGrants"
      },
      "delete": {
        "tags": [
          "AccessGrants"
        ],
        "description": "Delete an Access Grant.",
        "operationId": "deleteAccessGrant",
        "parameters": [
          {
            "name": "access_grant_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessGrant"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/report_notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "description": "Return all ReportNotifications.",
        "operationId": "getReportNotifications",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page of results to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The amount of results to return. The maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportNotifications"
                },
                "example": {
                  "links": {
                    "self": "https://api.vantage.com/v2/report_notifications",
                    "first": "https://api.vantage.com/v2/report_notifications?page=1",
                    "next": null,
                    "last": "https://api.vantage.com/v2/report_notifications?page=1",
                    "prev": null
                  },
                  "report_notifications": [
                    {
                      "token": "rprt_ntfctn_7c09ca27d07d8d1e",
                      "title": "Test Notification",
                      "cost_report_token": "rprt_ba0a5a5201390d72",
                      "user_tokens": [
                        "usr_27edb13f3beac3cb"
                      ],
                      "frequency": "weekly",
                      "change": "percentage"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Notifications"
        ],
        "description": "Create a ReportNotification.",
        "operationId": "createReportNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postReportNotifications"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportNotification"
                },
                "example": {
                  "token": "rprt_ntfctn_8ce31b43a149cd2e",
                  "title": "New Report Notification",
                  "cost_report_token": "rprt_933010600676b02f",
                  "user_tokens": [
                    "usr_45e7d17e9f402226"
                  ],
                  "frequency": "daily",
                  "change": "percentage"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "ReportNotifications"
      }
    },
    "/report_notifications/{report_notification_token}": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "description": "Return a ReportNotification.",
        "operationId": "getReportNotification",
        "parameters": [
          {
            "name": "report_notification_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportNotification"
                },
                "example": {
                  "token": "rprt_ntfctn_21b4287a212406b1",
                  "title": "Test Notification",
                  "cost_report_token": "rprt_d084c84455edc606",
                  "user_tokens": [
                    "usr_56d53f802edba3e6"
                  ],
                  "frequency": "weekly",
                  "change": "percentage"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Notifications"
        ],
        "description": "Update a ReportNotification.",
        "operationId": "updateReportNotification",
        "parameters": [
          {
            "name": "report_notification_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putReportNotifications"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportNotification"
                },
                "example": {
                  "token": "rprt_ntfctn_b36b208a90ee87f6",
                  "title": "Updated Report Notification",
                  "cost_report_token": "rprt_07b88c04aa6bed8c",
                  "user_tokens": [
                    "usr_35ed19fadcfed8c9"
                  ],
                  "frequency": "weekly",
                  "change": "dollars"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "ReportNotifications"
      },
      "delete": {
        "tags": [
          "Notifications"
        ],
        "description": "Delete a ReportNotification.",
        "operationId": "deleteReportNotification",
        "parameters": [
          {
            "name": "report_notification_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportNotification"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ]
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "description": "Return all Users that the current API token has access to.",
        "operationId": "getUsers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page of results to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The amount of results to return. The maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Users"
                },
                "example": {
                  "links": {
                    "self": "https://api.vantage.com/v2/users",
                    "first": "https://api.vantage.com/v2/users?page=1",
                    "next": null,
                    "last": "https://api.vantage.com/v2/users?page=1",
                    "prev": null
                  },
                  "users": [
                    {
                      "token": "usr_3f30f56e7773e72b",
                      "name": "Pres. Sudie Kuvalis",
                      "email": "kuvalis.sudie.pres@mckenzie-herman.net",
                      "role": "Owner"
                    },
                    {
                      "token": "usr_dc69dfedf704d4ea",
                      "name": "Carisa Tromp",
                      "email": "carisa.tromp@morissette.co",
                      "role": "Viewer"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/users/{user_token}": {
      "get": {
        "tags": [
          "Users"
        ],
        "description": "Return a specific User.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "user_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                },
                "example": {
                  "token": "usr_92c7273af4de2fb4",
                  "name": "Miss Shirlene Weissnat",
                  "email": "miss.shirlene.weissnat@west-howe.net",
                  "role": "Owner"
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      }
    },
    "/business_metrics": {
      "get": {
        "tags": [
          "BusinessMetrics"
        ],
        "description": "Return all Business Metrics that the current API token has access to.",
        "operationId": "getBusinessMetrics",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page of results to return.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The amount of results to return. The maximum is 1000.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessMetrics"
                },
                "example": {
                  "business_metrics": [
                    {
                      "token": "bsnss_mtrc_59f5539480219769",
                      "title": "Biz Metric",
                      "created_by_token": null,
                      "cost_report_tokens_with_metadata": [],
                      "values": []
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "BusinessMetrics"
        ],
        "description": "Create a new Business Metric.",
        "operationId": "createBusinessMetric",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postBusinessMetrics"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessMetric"
                },
                "example": {
                  "token": "bsnss_mtrc_5cb1416ffdb71e45",
                  "title": "New Biz Metric",
                  "created_by_token": "usr_c7ed8af27690461d",
                  "cost_report_tokens_with_metadata": [
                    {
                      "cost_report_token": "rprt_d9456b5218e47888",
                      "unit_scale": "per_thousand"
                    }
                  ],
                  "values": [
                    {
                      "date": "2024-01-03T00:00:00Z",
                      "amount": "300.0"
                    },
                    {
                      "date": "2024-01-02T00:00:00Z",
                      "amount": "200.0"
                    },
                    {
                      "date": "2024-01-01T00:00:00Z",
                      "amount": "100.0"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "write"
            ]
          }
        ],
        "x-codegen-request-body-name": "BusinessMetrics"
      }
    },
    "/business_metrics/{business_metric_token}": {
      "get": {
        "tags": [
          "BusinessMetrics"
        ],
        "description": "Return a specific Business Metric.",
        "operationId": "getBusinessMetric",
        "parameters": [
          {
            "name": "business_metric_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessMetric"
                },
                "example": {
                  "token": "bsnss_mtrc_fef64b1f7e56165f",
                  "title": "Biz Metric",
                  "created_by_token": null,
                  "cost_report_tokens_with_metadata": [],
                  "values": []
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "BusinessMetrics"
        ],
        "description": "Updates an existing BusinessMetric.",
        "operationId": "updateBusinessMetric",
        "parameters": [
          {
            "name": "business_metric_token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putBusinessMetrics"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessMetric"
                },
                "example": {
                  "token": "bsnss_mtrc_892d49c3863e90a6",
                  "title": "New Title",
                  "created_by_token": null,
                  "cost_report_tokens_with_metadata": [
                    {
                      "cost_report_token": "rprt_8914e211c6bad755",
                      "unit_scale": "per_thousand"
                    }
                  ],
                  "values": [
                    {
                      "date": "2024-01-03T00:00:00Z",
                      "amount": "600.0"
                    },
                    {
                      "date": "2024-01-02T00:00:00Z",
                      "amount": "500.0"
                    },
                    {
                      "date": "2024-01-01T00:00:00Z",
                      "amount": "400.0"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotFound",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
                }
              }
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Errors"
[...]
