name: Test

on:
  pull_request:
  push:
    branches:
      - main
      - "*"

concurrency:
  group: tests-acceptance

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.21

      - name: Run Tests
        run: go test ./...

      - name: Run Acceptance Tests
        env:
          VANTAGE_API_TOKEN: ${{ secrets.VANTAGE_API_TOKEN }}
          VANTAGE_TEST_HOST: ${{ vars.VANTAGE_TEST_HOST }}
        run: TF_ACC=1 go test -v ./vantage
